---
layout: base
title: Gallery 1
gallery_folder: assets/images/gallery_1/
subtitle: Mater Dolorosa
subsubtitle: 1995
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="container">
        <aside class="site-menu">
            <h1><a href="index.html">{{ site.title }}</a></h1>
            <nav>
                <a href="collection.html">Collection</a>               
            </nav>
        </aside>
            <div class="gallery-horizontal">
                <div class="text-wrapper">
                    <h2>{{page.subtitle}}</h2><p><br></p><p>{{page.subsubtitle}}<br></p>
                </div>
                {% assign gallery_folder = page.gallery_folder %}
                {% for image in site.static_files %}
                {% if image.path contains gallery_folder %}
                    <img src="{{ image.path }}" alt="Gallery Image">
                {% endif %}
                {% endfor %}
            </div>

    </div>
</body>
</html>
