/* General styles */
body {
    margin: 0;
    font-family: 'Droid Serif', serif;
    display: flex;
    background-color: #e0dcd0;
    color: black;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.site-menu {
    width: 250px;
    background: #e0dcd0;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-menu h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.site-menu a {
    color: black;
    text-decoration: none;
}

.site-menu a:hover {
    text-decoration: underline;
}

.site-menu nav ul {
    list-style: none;
    padding: 0;
}

.site-menu nav li {
    margin: 10px 0;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.social-links a {
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}



.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
}

.gallery-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dad1b6;
    border: 1px solid #272726;
    height: 100px;
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.gallery-horizontal {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.gallery-horizontal img {
    max-height: 700;
    max-width: auto;
    margin-right: 20px;
    margin-left: 250px;
}

.index-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align text to the top */
    align-items: center;        /* Horizontally center */
    flex-grow: 1;
    text-align: center;
    padding-top: 20px;          /* Add padding to control spacing from the top */
}

.index-main img{
    height:auto;
    vertical-align: top;
    max-width: 100%;
    border: 0;
    text-align: center;
    box-sizing: inherit;
}

.index-main p{
    color: #111111;
    font-family: "Droid Serif", serif;
    line-height: 1.7 !important;
    font-size: 14px;
}

