/* General styles */
body {
    margin: 0;
    font-family: 'Droid Serif', serif;
    display: flex;
    background-color: #f0ece1;
    color: black;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}


.site-menu {
    width: 350px;
    background: #f0ece1;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-menu h1 {
    
    margin-bottom: 60px;
    padding-top: 60px;  
    color: #101010;
    font-family: "Droid Serif", serif;
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    display: block;
    padding: 1.5em 0 0;
    position: static;    
    align-items: center;
}

.site-menu a {
    color: black;
    text-decoration: none;
}

.site-menu a:hover {
    text-decoration: underline;
}

.site-menu nav ul li a{
    list-style: none;
    padding: 0.6em 0 0;
    text-decoration: none;
    width: auto;
    padding: 0;
    font-family: "Droid Serif", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.6;
}

.site-menu nav li {
    text-decoration: none;
    width: auto;
    padding: 0;
    font-family: "Droid Serif", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.6;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.social-links a {
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}



.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;    
    align-items: center;
}

.gallery-item {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.gallery-thumbnail {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;    
    align-items: center;
}

.gallery-horizontal {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    max-height: 80%; /* Restrict the gallery height as needed */
    margin: auto; /* Centers it in case of extra space */
    width: 100%;
    height: 100vh;
    bottom:0;
    scrollbar-gutter: stable; 
    scrollbar-width: none; /* Ensures consistent scrollbar placement */
}

.text-wrapper {
    
    padding: 20px;
    max-height: 550px;
    align-items: center;
    object-fit: cover;
}

.text-wrapper h2{
    color: #49422a;
    font-family: "Droid Serif", serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;

}

.gallery-horizontal img {
    height: 650px;
    object-fit: cover;
}

.index-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;          /* Add padding to control spacing from the top */
}



.index-main img{
    height:450px;
    width: auto;
    object-fit: cover;
    border: 0;
    text-align: center;
    align-items: center;
}

.index-main p{
    color: #111111;
    font-family: "Droid Serif", serif;
    line-height: 1.7 !important;
    font-size: 14px;
    align-items: center;
}

